<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.hit.mapper.AgeGroupProductHitsMapper">

    <!-- 상품 ID와 연령대에 따른 조회수 레코드 조회 -->
    <select id="findByAgeGroupAndProductId" parameterType="map" resultType="com.be.hit.domain.AgeGroupProductHits">
        SELECT *
        FROM AgeGroupProductHits
        WHERE age_group = #{ageGroup}
          AND productID = #{productId}
    </select>

    <!-- 새로운 조회수 레코드 추가 -->
    <insert id="insert" parameterType="com.be.hit.domain.AgeGroupProductHits">
        INSERT INTO AgeGroupProductHits (age_group, productID, hit)
        VALUES (#{ageGroup}, #{productId}, #{hitCount})
    </insert>

    <!-- 기존 조회수 레코드 업데이트 -->
    <update id="update" parameterType="com.be.hit.domain.AgeGroupProductHits">
        UPDATE AgeGroupProductHits
        SET hit = hit + 1
        WHERE age_group = #{ageGroup}
          AND productID = #{productId}
    </update>

    <!-- 연령대별 상위 3개 상품 조회 -->
    <select id="findTop3ByAgeGroup" resultType="int">
        SELECT productID
        FROM AgeGroupProductHits
        WHERE age_group = #{ageGroup}
        ORDER BY hit DESC
            LIMIT 3;
    </select>

</mapper>
