<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.finance.mapper.BondProductMapper">

    <!-- 펀드 상품 삽입 -->
    <insert id="insertBondProduct" parameterType="com.be.finance.domain.BondProductVO">
        INSERT INTO BondProduct
        (
            productId, basDt, crno, scrsItmsKcd, isinCd, scrsItmsKcdNm, bondIsurNm, isinCdNm,
            bondIssuDt, bondIssuAmt, bondIssuCurCd, bondIssuCurCdNm, bondExprDt, bondPymtAmt,
            irtChngDcd, irtChngDcdNm, bondSrfcInrt, bondIntTcd, bondIntTcdNm, intPayCyclCtt,
            nxtmCopnDt, rbVopnDt, kbpScrsItmsKcdNm, niceScrsItmsKcdNm, fnScrsItmsKcdNm,
            riskLevel, hit
        )
        VALUES
            (
                #{productId}, #{basDt}, #{crno}, #{scrsItmsKcd}, #{isinCd}, #{scrsItmsKcdNm}, #{bondIsurNm}, #{isinCdNm},
                #{bondIssuDt}, #{bondIssuAmt}, #{bondIssuCurCd}, #{bondIssuCurCdNm}, #{bondExprDt}, #{bondPymtAmt},
                #{irtChngDcd}, #{irtChngDcdNm}, #{bondSrfcInrt}, #{bondIntTcd}, #{bondIntTcdNm}, #{intPayCyclCtt},
                #{nxtmCopnDt}, #{rbVopnDt}, #{kbpScrsItmsKcdNm}, #{niceScrsItmsKcdNm}, #{fnScrsItmsKcdNm},
                0, 0
            )
    </insert>

    <!-- 채권 상품 조회 -->
    <select id="getBondProductsList" resultType="com.be.finance.domain.BondProductVO">
        SELECT * FROM BondProduct
    </select>

    <!-- 채권 상품 검색 -->
    <select id="searchBondProducts" resultType="com.be.finance.domain.BondProductVO">
        SELECT *
        FROM BondProduct
        WHERE isisCdNm LIKE #{keyword}
    </select>
</mapper>
