<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MyBatis 매퍼 설정 파일 -->
<mapper namespace="com.be.cart.mapper.CartMapper">
    <resultMap id="cartItemMap" type="com.be.cart.domain.CartItemVO">
        <id column="cart_id" property="cartId"/>
        <result column="product_id" property="productId"/>
        <result column="member_num" property="member_num"/>
    </resultMap>
    <select id="getCartItemList" resultType="com.be.cart.domain.CartItemVO">
        SELECT
            c.cart_id,
            c.product_id,
            c.member_num,
            p.product_type,
            CASE
                WHEN p.product_type = 'S' THEN s.kor_co_nm
                WHEN p.product_type = 'B' THEN b.bond_isur_nm
                WHEN p.product_type = 'F' THEN f.company_nm
                END AS provider,
            CASE
                WHEN p.product_type = 'S' THEN s.fin_prdt_nm
                WHEN p.product_type = 'B' THEN b.isin_cd_nm
                WHEN p.product_type = 'F' THEN f.product_nm
                END AS product_name,
            CASE
                WHEN p.product_type = 'S' THEN ANY_VALUE(sr.intr_rate2)
                WHEN p.product_type = 'B' THEN b.bond_srfc_inrt
                WHEN p.product_type = 'F' THEN f.yield_12
                END AS expectedReturn,
            ANY_VALUE(sr.rsrv_type) AS rsrv_type
        FROM
            cart_item c
                LEFT OUTER JOIN
            product p ON c.product_id = p.product_id
                LEFT OUTER JOIN
            fund_product f ON c.product_id = f.product_id
                LEFT OUTER JOIN
            bond_product b ON c.product_id = b.product_id
                LEFT OUTER JOIN
            saving_product s ON c.product_id = s.product_id
                LEFT OUTER JOIN
            saving_product_rate sr ON c.product_id = sr.product_id
                AND sr.save_trm = 12
                AND sr.intr_rate2 = (
                    SELECT MAX(sr2.intr_rate2)
                    FROM saving_product_rate sr2
                    WHERE sr2.product_id = sr.product_id
                      AND sr2.save_trm = 12
                )
        WHERE
            c.member_num = #{memberNum}
        GROUP BY
            c.cart_id, c.product_id
    </select>
    <select id="getCartDataList" resultType="com.be.cart.domain.CartDataVO">
        SELECT *
        FROM cart_item
        WHERE member_num = #{memberNum}
    </select>
    <insert id="addCartItem" useGeneratedKeys="true" keyProperty="cartId">
        insert into cart_item (product_id, member_num)
        values (#{productId}, #{memberNum})
    </insert>

    <delete id="deleteCartItem">
        delete from cart_item
        where cart_id = #{cartId}
    </delete>
</mapper>