<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.member.mapper.MemberMapper">
    <insert id = "insert" parameterType="Member">
        insert into member(member_id, member_name, email, password, birth,
                         gender, reg_date)
        values (#{memberID}, #{memberName}, #{email}, #{password}, #{birth},
                #{gender}, #{regDate});
    </insert>

    <select id="findOneByMemberID" parameterType="String" resultType="Member">
        select * from member where member_id = #{memberID};
    </select>

    <select id="findOneByMemberEmail" parameterType="String" resultType="Member">
        select * from member where email = #{email};
    </select>

    <select id="findOneByMemberNum" parameterType="long" resultType="Member">
        select * from member where member_num = #{memberNum};
    </select>

</mapper>