<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.finance.mapper.ProductMapper">
    <!-- Product 테이블에 데이터 삽입 -->
    <insert id="insertProduct"
            parameterType="com.be.finance.domain.ProductVO"
            useGeneratedKeys="true"
            keyProperty="productId">
        INSERT INTO Product (ProductType)
        VALUES (#{productType})
    </insert>

    <!-- 저장된 Product ID 반환 (MySQL의 LAST_INSERT_ID() 사용) -->
    <select id="getLastInsertedProductId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

</mapper>
