<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.stock.mapper.StockMapper">

    <!-- Insert statement for inserting a StockVO object into the stock table -->
    <insert id="insert" parameterType="com.be.stock.domain.StockVO">
        INSERT INTO stock (
            stock_code, stock_name, daily_price, field,
            mrkt_ctg, clpr, vs, flt_rt, mkp,
            hipr, lopr, trqu, tr_prc, istg_st_cnt, mrkt_tot_amt
        )
        VALUES (
                     #{stockCode}, #{stockName}, #{dailyPrice}, #{field},
                     #{mrktCtg}, #{clpr}, #{vs}, #{fltRt}, #{mkp},
                     #{hipr}, #{lopr}, #{trqu}, #{trPrc}, #{istgStCnt}, #{mrktTotAmt}
                 )
            ON DUPLICATE KEY UPDATE
                  stock_name = VALUES(stock_name),
                  daily_price = VALUES(daily_price),
                  field = VALUES(field),
                  mrkt_ctg = VALUES(mrkt_ctg),
                  clpr = VALUES(clpr),
                  vs = VALUES(vs),
                  flt_rt = VALUES(flt_rt),
                  mkp = VALUES(mkp),
                  hipr = VALUES(hipr),
                  lopr = VALUES(lopr),
                  trqu = VALUES(trqu),
                  tr_prc = VALUES(trPrc),
                  istg_st_cnt = VALUES(istg_st_cnt),
                  mrkt_tot_amt = VALUES(mrkt_tot_amt);
    </insert>

    <!-- stockCode 또는 stockName으로 검색하는 쿼리 -->
    <select id="searchStock" parameterType="String" resultType="com.be.stock.domain.StockVO">
        SELECT *
        FROM stock
        WHERE stock_code LIKE CONCAT('%', #{searchTerm}, '%')
           OR stock_name LIKE CONCAT('%', #{searchTerm}, '%')
    </select>

    <!-- 전체 주식 데이터를 조회하는 쿼리 -->
    <select id="findAll" resultType="com.be.stock.domain.StockVO">
        SELECT *
        FROM stock <!-- 실제 테이블 이름으로 대체하세요 -->
    </select>



</mapper>
