<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.be.user.mapper.UserMapper">
    <insert id = "insert" parameterType="com.be.user.dto.res.UserRegisterResDto">
        insert into user(user_id, user_name, user_email, user_pw, user_birth,
                         user_gender, user_reg_date)
        values (#{userID}, #{userEmail}, #{userName}, #{userPw}, #{userBirth},
                #{userGender}, #{userRegDate});
    </insert>

</mapper>